h2 {
  background-color: grey;
  color: green;
}

h4 {
  background-color: black;
  color: #fcba03;
  font-family: cursive;
}

h4 {
  background-color: black;
  color: white;
  font-family: cursive;
}

h5 {
  background-color: black;
  color: rgb(252, 186, 3);
  font-family: cursive;
}
